<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>BBP Kapa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js" integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA==" crossorigin="anonymous"></script>
    


    <script src="https://kit.fontawesome.com/b6b808bbca.js" crossorigin="anonymous"></script>

    <script src="./hlp/angularjs-dropdown-multiselect.min.js"></script>
    <script src="./hlp/csvtojson.min.js"></script>
    <script src="./hlp/luxon.min.js"></script>
    <script src="./MapBBCodeLoader.js"></script>
    <script src="./app.js"></script>

    <script>
      $(function () {
        $.fn.datepicker.dates['de'] = {
          days: ["Sonntag", "Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag"],
          daysShort: ["So", "Mo", "Di", "Mi", "Do", "Fr", "Sa"],
          daysMin: ["So", "Mo", "Di", "Mi", "Do", "Fr", "Sa"],
          months: ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"],
          monthsShort: ["Jan", "Feb", "Mär", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"],
          today: "Heute",
          clear: "Löschen",
          format: "dd.mm.yyyy",
          titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
          weekStart: 1
        };

        $('.input-daterange').datepicker({
          maxViewMode: 2,
          todayBtn: "linked",
          clearBtn: true,
          language: "de",
          format: 'dd.mm.yyyy',
          calendarWeeks: true,
          todayHighlight: true,
          autoclose: true,
          orientation: "right",
          templates: {leftArrow: '<i class="fas fa-long-arrow-alt-left"></i>', rightArrow: '<i class="fas fa-long-arrow-alt-right"></i>'}
        });
      });
    
    </script>

    <style>
      .ww {min-width: 700px;}
      .wv {min-width: 750px; max-width: 800px;}
      .wm {min-width: 400px;}
      .wf {min-width: 300px; max-width: 350px;}
      .ws {min-width: 400px; max-width: 700px; }
      .today {text-align: center;}
      .clear {text-align: center;}
      .cw {font-size:x-small;font-weight: bold;}
      .dow {font-size:x-small;font-weight: bold;text-align: center;}
      .datepicker-switch {text-align: center;}
      .next {text-align: right;}
      .day {text-align: center;}
      .old {font-style: italic;}
      .new {font-style: italic;}
      .rotate{transform: rotate(90deg);}
    </style>

    
  </head>

  <body ng-app="BBPCapa" ng-controller="BbpController as bbpList">
    <div class="container-fluid">
        <div class="row">
          <div class="page-header col-md-10">
            <i class="fas fa-route" style="color:#FF0000; font-size: 4em;""></i><b>&nbsp;</b>
            <i class="fas fa-chart-bar" style="color:#767171; font-size: 4em;"></i><b>&nbsp;</b>
            <b style="color:#767171; font-size: 4em;">&nbsp;BBP</b>
            <b style="color:#FF0000; font-size: 4em;"">Kapazitätsplanung</b>            
            <h3>Auslastungssteuerung Baubetriebsplanung</h3>
          </div>
          
          
          <div class="page-header col-md-2">
            <img src="./img/Db-netze.png" class="img-fluid" alt="DB Netz AG Logo">         
          </div>

          <div class="col-md-9 ng-hide animate-show-hide" ng-hide="bbpList.loadComplete">
            <div class="form-group">              
              <div class="col-md-8">                
                <input type="file" id="list" class="form-control form-control-lg" ng-model="mfbList.Filename" accept=".csv" placeholder="Liste auswählen"> <p></p>
                <p><b>Achtung</b> Es werden keinerlei Daten ins Netz hochgeladen. Der Verarbeitung der Daten und Erzeugung der Tabellen erfolgt ausschließlich auf dem lokalen Rechner.</p>
  
                <button type="button" class="btn btn-secondary btn-lg" ng-click="bbpList.findOverload();">
                    <i class="far fa-file-alt"></i>                    
                    Daten einlesen und verarbeiten
                </button>
              </div>         
            </div>
          </div>

          <div class="animate-show-hide ng-show" ng-show="bbpList.loadComplete">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active text-danger" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Streckenanalyse</button>
                <button class="nav-link text-danger" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Details Auslastung</button>
                <button class="nav-link text-danger" id="nav-mfb-tab" data-bs-toggle="tab" data-bs-target="#nav-mfb" type="button" role="tab" aria-controls="nav-mfb" aria-selected="false">Umleitungen bearbeiten</button>
                <button class="nav-link text-light" id="nav-edit-tab" data-bs-toggle="tab" data-bs-target="#nav-edit" type="button" role="tab" aria-controls="nav-edit" aria-selected="false">&nbsp;</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">              
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="col-md-8">
                    <table class="table table-hover text-center align-middle">
                        <thead>
                            <tr class="table-secondary">
                                <th>Strecke</th>
                                <th>Abschnitt</th>
                                <th>Auslastungsstufe</th>                                
                                <th>Anzahl Tage</th>   
                                <th>Max. Auslastung</th>
                                <th>Nennleistung unter Bau</th>
                                <th>SPFV</th>
                                <th>SPNV</th>
                                <th>SGV</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tr in bbpList.TrackAnalysis | orderBy:['-Level.Lv', '-Days', '-MaxLoad', 'Strecke']">
                                <td>{{tr.Strecke}}</td>
                                <td>{{tr.From}} - {{tr.To}}</td>
                                <td ng-style="{'background-color': tr.Level.Col, 'color': 'white'}"><b>Stufe {{tr.Level.Lv}}</b></td>
                                <td>{{tr.Days}}</td>
                                <td>
                                    <span class="animate-show-hide ng-show" ng-hide="tr.MaxLoad===999999">{{tr.MaxLoad}} %</span>
                                    <span class="animate-show-hide ng-show" ng-show="tr.MaxLoad===999999">Totalsperrung</span>
                                </td>                                
                                <td>{{tr.Nennleistung}}</td>
                                <td>{{tr.SPFV}}</td>
                                <td>{{tr.SPNV}}</td>
                                <td>{{tr.SGV}}</td>
                                <td>
                                    <button type="button btn-sm" ng-click="bbpList.showDetails(tr.Strecke);" class="btn btn-outline-secondary">
                                        <i class="far fa-hand-pointer"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>

              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="col-md-8">
                    <h4>Strecke {{bbpList.showTrack}}</h4>
                    <h5>{{bbpList.FromDate}} - {{bbpList.ToDate}}</h5>
                    <table class="table table-hover text-center align-middle">
                        <thead>
                            <tr class="table-secondary">
                                <th>Datum</th>
                                <th>Abschnitt</th>
                                <th>Auslastungsstufe</th>
                                <th>Anzahl Abschnitte</th> 
                                <th>Max. Auslastung</th>                                  
                                <th>Nennleistung unter Bau</th>
                                <th>SPFV</th>
                                <th>SPNV</th>
                                <th>SGV</th>
                                <th>Bearbeiten</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tr in bbpList.LoadAnalysis | orderBy:['Date.DNumber']">
                                <td>{{tr.Date.DText}}</td>
                                <td>{{tr.From}} - {{tr.To}}</td>
                                <td ng-style="{'background-color': tr.Level.Col, 'color': 'white'}"><b>Stufe {{tr.Level.Lv}}</b></td>
                                <td>{{tr.NumSec}}</td>
                                <td>
                                    <span class="animate-show-hide ng-show" ng-hide="tr.MaxLoad===999999">{{tr.MaxLoad}} %</span>
                                    <span class="animate-show-hide ng-show" ng-show="tr.MaxLoad===999999">Totalsperrung</span>
                                </td>                                
                                <td>{{tr.Nennleistung}}</td>
                                <td>{{tr.SPFV}}</td>
                                <td>{{tr.SPNV}}</td>
                                <td>{{tr.SGV}}</td>
                                <td>
                                    <button type="button btn-sm" ng-click="bbpList.editRouting(bbpList.showTrack, tr);" class="btn btn-outline-secondary">
                                        <i class="fas fa-route"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>                                        
                </div>
              </div>

              <div class="tab-pane fade" id="nav-mfb" role="tabpanel" aria-labelledby="nav-mfb-tab"> 
                  <div class="row">
                    <div class="col-md-4">
                        <h4>Strecke {{bbpList.showTrack}}</h4>
                        <hr>                        
                        <table class="table table-hover">
                          <tbody>
                            <tr>
                              <th>Datum</th>
                              <td>{{bbpList.EditRow.Date.DText}}</td>
                            </tr>
                            <tr>
                              <th>Abschnitt</th>
                              <td>{{bbpList.EditRow.From}} - {{bbpList.EditRow.To}}</td>
                            </tr>
                            <tr>
                              <th>Auslastungsstufe</th>
                              <td ng-style="{'background-color': bbpList.EditRow.Level.Col, 'color': 'white'}"><b>Stufe {{bbpList.EditRow.Level.Lv}}</b></td>
                            </tr>
                            <tr>
                              <th>Max. Auslastung</th>
                              <td>
                                <span class="animate-show-hide ng-show" ng-hide="bbpList.EditRow.MaxLoad===999999">{{bbpList.EditRow.MaxLoad}} %</span>
                                <span class="animate-show-hide ng-show" ng-show="bbpList.EditRow.MaxLoad===999999">Totalsperrung</span>
                              </td>
                            </tr>
                            <tr>
                              <th>Anzahl Züge</th>
                              <td>SPFV {{bbpList.EditRow.SPFV}} <br> SPNV {{bbpList.EditRow.SPNV}} <br> SGV {{bbpList.EditRow.SGV}}</td>
                            </tr>
                            <tr>
                              <th>Nötige Entlastung zur Stufe 3</th>
                              <td>
                                <span class="animate-show-hide ng-show" ng-show="bbpList.redLv3 === 1">{{bbpList.redLv3}} Zug</span>
                                <span class="animate-show-hide ng-show" ng-show="bbpList.redLv3 > 1">{{bbpList.redLv3}} Züge</span>
                                <span class="animate-show-hide ng-show" ng-hide="bbpList.redLv3 > 0">keine</span>
                              </td>
                            </tr>
                            <tr>
                              <th>Nötige Entlastung zur Stufe 4</th>
                              <td>
                                <span class="animate-show-hide ng-show" ng-show="bbpList.redLv4 === 1">{{bbpList.redLv4}} Zug</span>
                                <span class="animate-show-hide ng-show" ng-show="bbpList.redLv4 > 1">{{bbpList.redLv4}} Züge</span>
                                <span class="animate-show-hide ng-show" ng-hide="bbpList.redLv4 > 0">keine</span>
                              </td>
                            </tr>                            
                          </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <p>Übersichtskarte</p>
                        <div class="mapbbcode" id="railmap"> </div>
                    </div>
                  </div>
                  <hr>                    
                    <div class="col-md-12">
                      <table class="table table-borderless">
                        <tbody>
                          <tr>
                            <td><h4>Bearbeitung der Züge</h4></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>                              
                              <div class="row">
                                <div class="col-md-12">
                                  <h5>Auswahl Streckenabschnitt</h5>
                                  <div>
                                    <div class="input-group mb-3">
                                      <span class="input-group-text" id="track">Strecke</span>
                                      <input type="text" class="form-control" placeholder="Strecke" aria-label="Strecke" aria-describedby="track" ng-model="bbpList.selectTrack">
                                      <button type="button btn-sm" ng-click="bbpList.updateSelectedTrack(bbpList.selectTrack, bbpList.EditRow.Date.DNumber);" class="btn btn-outline-secondary"><i class="fas fa-sync-alt"></i> Strecke laden</button>
                                    </div>
                                    <div class="input-group mb-3">
                                      <input type="text" class="form-control" placeholder="von" aria-label="von" ng-model="bbpList.fromBTS.bts">
                                      <span class="input-group-text"><i class="fas fa-arrow-alt-circle-right"></i></span>
                                      <input type="text" class="form-control" placeholder="nach" aria-label="nach" ng-model="bbpList.toBTS.bts">
                                    </div>
                                    <div>
                                      <table class="table table-borderless table-sm">
                                        <td><p class="text-right">Abschnitt Entlastung</p></td>
                                        <td>
                                          <div class="form-check form-switch">                                      
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" ng-model="bbpList.toNewRoute">
                                            <label class="form-check-label" for="flexSwitchCheckDefault">Abschnitt Umleitung</label>
                                          </div>
                                        </td>
                                      </table>
                                    </div>                                                                                                      
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="col-md-12">
                                <h5>Abschnitt Entlastung</h5>
                                <div>
                                  <table class="table table-hover table-sm align-middle">
                                    <thead>
                                      <tr>
                                        <th>Verbleibender Verkehr</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>SPFV</td>
                                        <td>{{bbpList.remainSPFV}} von {{bbpList.maxSPFV}}</td>
                                        <td>
                                          <button type="button btn-sm" ng-click="bbpList.RerouteSPFV(10);" class="btn btn-outline-secondary animate-show-hide ng-show" ng-hide="bbpList.remainSPFV<10">
                                            10 >
                                          </button>
                                          <button type="button btn-sm" ng-click="" disabled class="btn btn-outline-secondary animate-show-hide ng-show" ng-show="bbpList.remainSPFV<10">
                                            10 >
                                          </button>
                                          <button type="button btn-sm" ng-click="bbpList.RerouteSPFV(5);" class="btn btn-outline-secondary animate-show-hide ng-show" ng-hide="bbpList.remainSPFV<5">
                                            5 >
                                          </button>
                                          <button type="button btn-sm" ng-click="" disabled class="btn btn-outline-secondary animate-show-hide ng-show" ng-show="bbpList.remainSPFV<5">
                                            5 >
                                          </button>
                                          <button type="button btn-sm" ng-click="bbpList.RerouteSPFV(1);" class="btn btn-outline-secondary animate-show-hide ng-show" ng-hide="bbpList.remainSPFV<1">
                                            1 >
                                          </button>
                                          <button type="button btn-sm" ng-click="" disabled class="btn btn-outline-secondary animate-show-hide ng-show" ng-show="bbpList.remainSPFV<1">
                                            1 >
                                          </button>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>SPNV</td>
                                        <td>{{bbpList.remainSPNV}} von {{bbpList.maxSPNV}}</td>
                                        <td>
                                          <button type="button btn-sm" ng-click="bbpList.RerouteSPNV(10);" class="btn btn-outline-secondary animate-show-hide ng-show" ng-hide="bbpList.remainSPNV<10">
                                            10 >
                                          </button>
                                          <button type="button btn-sm" ng-click="" disabled class="btn btn-outline-secondary animate-show-hide ng-show" ng-show="bbpList.remainSPNV<10">
                                            10 >
                                          </button>
                                          <button type="button btn-sm" ng-click="bbpList.RerouteSPNV(5);" class="btn btn-outline-secondary animate-show-hide ng-show" ng-hide="bbpList.remainSPNV<5">
                                            5 >
                                          </button>
                                          <button type="button btn-sm" ng-click="" disabled class="btn btn-outline-secondary animate-show-hide ng-show" ng-show="bbpList.remainSPNV<5">
                                            5 >
                                          </button>
                                          <button type="button btn-sm" ng-click="bbpList.RerouteSPNV(1);" class="btn btn-outline-secondary animate-show-hide ng-show" ng-hide="bbpList.remainSPNV<1">
                                            1 >
                                          </button>
                                          <button type="button btn-sm" ng-click="" disabled class="btn btn-outline-secondary animate-show-hide ng-show" ng-show="bbpList.remainSPNV<1">
                                            1 >
                                          </button>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>SGV</td>
                                        <td>{{bbpList.remainSGV}} von {{bbpList.maxSGV}}</td>
                                        <td>
                                          <button type="button btn-sm" ng-click="bbpList.RerouteSGV(10);" class="btn btn-outline-secondary animate-show-hide ng-show" ng-hide="bbpList.remainSGV<10">
                                            10 >
                                          </button>
                                          <button type="button btn-sm" ng-click="" disabled class="btn btn-outline-secondary animate-show-hide ng-show" ng-show="bbpList.remainSGV<10">
                                            10 >
                                          </button>
                                          <button type="button btn-sm" ng-click="bbpList.RerouteSGV(5);" class="btn btn-outline-secondary animate-show-hide ng-show" ng-hide="bbpList.remainSGV<5">
                                            5 >
                                          </button>
                                          <button type="button btn-sm" ng-click="" disabled class="btn btn-outline-secondary animate-show-hide ng-show" ng-show="bbpList.remainSGV<5">
                                            5 >
                                          </button>
                                          <button type="button btn-sm" ng-click="bbpList.RerouteSGV(1);" class="btn btn-outline-secondary animate-show-hide ng-show" ng-hide="bbpList.remainSGV<1">
                                            1 >
                                          </button>
                                          <button type="button btn-sm" ng-click="" disabled class="btn btn-outline-secondary animate-show-hide ng-show" ng-show="bbpList.remainSGV<1">
                                            1 >
                                          </button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <div class="animate-show-hide ng-show" ng-hide="bbpList.oldRoute.length === 0">
                                    <span class="animate-show-hide ng-show" ng-show="(bbpList.minReduce - bbpList.newSPFV - bbpList.newSPNV - bbpList.newSGV)>1">Die Strecke muss noch um <b>mindestens {{bbpList.minReduce - bbpList.newSPFV - bbpList.newSPNV - bbpList.newSGV}} Züge</b> entlastet werden.</span>
                                    <span class="animate-show-hide ng-show" ng-show="(bbpList.minReduce - bbpList.newSPFV - bbpList.newSPNV - bbpList.newSGV)===1">Die Strecke muss noch um <b>1 Zug</b> entlastet werden.</span>
                                    <span class="animate-show-hide ng-show" ng-show="(bbpList.minReduce - bbpList.newSPFV - bbpList.newSPNV - bbpList.newSGV)<1"><b>Die Strecke ist ausreichend entlastet.</b></span>
                                  </div>                                                                    
                                </div>                                
                              </div>
                            </td>
                            <td>
                              <div class="col-md-12">
                                <h5>Abschnitt Umleitung</h5>
                                <div>
                                    <table class="table table-hover table-sm align-middle">
                                      <thead>
                                        <tr>
                                          <th>Umgeleiteter Verkehr</th>
                                          <th>&nbsp;</th>
                                          <th>&nbsp;</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>SPFV</td>
                                          <td>{{bbpList.newSPFV}}</td>
                                          <td>
                                            <button type="button btn-sm" ng-click="bbpList.ResetRerouteSPFV();" class="btn btn-outline-danger">
                                              <i class="fas fa-trash"></i>
                                            </button>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>SPNV</td>
                                          <td>{{bbpList.newSPNV}}</td>
                                          <td>
                                            <button type="button btn-sm" ng-click="bbpList.ResetRerouteSPNV();" class="btn btn-outline-danger">
                                              <i class="fas fa-trash"></i>
                                            </button>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>SGV</td>
                                          <td>{{bbpList.newSGV}}</td>
                                          <td>
                                            <button type="button btn-sm" ng-click="bbpList.ResetRerouteSGV();" class="btn btn-outline-danger">
                                              <i class="fas fa-trash"></i>
                                            </button>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <div class="animate-show-hide ng-show" ng-hide="bbpList.newRoute.length === 0">
                                      <span class="animate-show-hide ng-show" ng-show="(bbpList.maxReroute - bbpList.newSPFV - bbpList.newSPNV - bbpList.newSGV)>1">Um die maximale Auslastung der Umleitungsstrecke nicht zu überschreiten, <br> dürfen maximal noch <b>{{bbpList.maxReroute - bbpList.newSPFV - bbpList.newSPNV - bbpList.newSGV}} Züge</b> umgeleitet werden.</span>
                                      <span class="animate-show-hide ng-show" ng-show="(bbpList.maxReroute - bbpList.newSPFV - bbpList.newSPNV - bbpList.newSGV)===1">Um die maximale Auslastung der Umleitungsstrecke nicht zu überschreiten, <br> darf maximal noch <b>1 Zug</b> umgeleitet werden.</span>
                                      <span class="animate-show-hide ng-show" ng-show="(bbpList.maxReroute - bbpList.newSPFV - bbpList.newSPNV - bbpList.newSGV)<1">Die maximale Auslastung der Umleitungsstrecke ist bereits erreicht, <br> es dürfen <b>keine weiteren Züge</b> umgeleitet werden.</span>
                                    </div>                                     
                                  </div>  
                                </div>                                
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table class="table table-borderless text-end">
                                <tbody>
                                  <tr>
                                    <td>
                                      <div>
                                        <button type="button" ng-click="bbpList.addSection();" class="btn btn-secondary">
                                          <i class="fas fa-puzzle-piece"></i> 
                                          Abschnitt 
                                          <span class="animate-show-hide ng-show" ng-hide="bbpList.toNewRoute">Entlastung</span>
                                          <span class="animate-show-hide ng-show" ng-show="bbpList.toNewRoute">Umleitung</span> 
                                          hinzufügen
                                        </button>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table> 
                            </td>
                            <td>
                              <table class="table table-borderless text-end">
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="animate-show-hide ng-show" ng-hide="bbpList.oldRoute.length === 0">
                                        <button type="button" ng-click="bbpList.deleteOldRoute();" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Abschnitt löschen</button>
                                      </div> 
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td>
                              <table class="table table-borderless text-end">
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="animate-show-hide ng-show" ng-hide="bbpList.newRoute.length === 0">
                                        <button type="button" ng-click="bbpList.deleteNewRoute();" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Abschnitt löschen</button>
                                        <button type="button" ng-click="" class="btn btn-outline-success animate-show-hide ng-show" ng-hide="(bbpList.newSPFV + bbpList.newSPNV + bbpList.newSGV) < 1"><i class="far fa-thumbs-up"></i> Umleitung anwenden</button>
                                      </div> 
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div>
                              <table class="table table-hover table-sm text-center">
                                <thead>
                                  <tr>
                                    <th>Strecke</th>
                                    <th>Abschnitt</th>
                                    <th>Stufe</th>
                                    <th>Auslastung</th>
                                    <th>&nbsp;</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="e in bbpList.selectedRoute | orderBy:['id']">
                                    <td>{{e.section.Streckennummer}}</td>
                                    <td>{{e.section['Von Betriebsstelle']}} - {{e.section['Bis Betriebsstelle']}}</td>
                                    <td ng-style="{'background-color': e.level.Col, 'color': 'white'}"><b>Stufe {{e.level.Lv}}</b></td>
                                    <td>
                                      <span class="animate-show-hide ng-show" ng-hide="e.MaxLoad===999999">{{e.MaxLoad}} %</span>
                                      <span class="animate-show-hide ng-show" ng-show="e.MaxLoad===999999">Totalsperrung</span>
                                    </td>
                                    <td>
                                      <button type="button btn-sm" ng-click="bbpList.setStart(e.id);" class="btn btn-outline-secondary pt-0 pb-0">
                                        <small>S</small>
                                      </button>
                                      <button type="button btn-sm" ng-click="bbpList.setEnd(e.id);" class="btn btn-outline-secondary pt-0 pb-0">
                                        <small>E</small>
                                      </button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>                              
                            </div>
                          </td>
                            <td>
                              <div class="animate-show-hide ng-show" ng-hide="bbpList.oldRoute.length === 0">
                              <table class="table table-hover table-sm text-center">
                                <thead>
                                  <tr>
                                    <th>Strecke</th>
                                    <th>Abschnitt</th>
                                    <th>Stufe</th>
                                    <th>Fv/Nv/Gv</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="e in bbpList.oldRoute">
                                    <td>{{e.strecke}}</td>
                                    <td>{{e.fromBTS}} - {{e.toBTS}}</td>
                                    <td ng-style="{'background-color': e.level.Col, 'color': 'white'}"><b>Stufe {{e.level.Lv}}</b></td>
                                    <td>{{e.SPFV}}/{{e.SPNV}}/{{e.SGV}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            </td>
                            <td>
                              <div class="animate-show-hide ng-show" ng-hide="bbpList.newRoute.length === 0">
                                <table class="table table-hover table-sm text-center">
                                  <thead>
                                    <tr>
                                      <th>Strecke</th>
                                      <th>Abschnitt</th>
                                      <th>Stufe</th>
                                      <th>Auslastung</th>
                                      <th>Δ Züge bis 125%</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="e in bbpList.newRoute">
                                      <td>{{e.strecke}}</td>
                                      <td>{{e.fromBTS}} - {{e.toBTS}}</td>
                                      <td ng-style="{'background-color': e.level.Col, 'color': 'white'}"><b>Stufe {{e.level.Lv}}</b></td>
                                      <td>
                                        <span class="animate-show-hide ng-show" ng-hide="e.MaxLoad===999999">{{e.MaxLoad}} %</span>
                                        <span class="animate-show-hide ng-show" ng-show="e.MaxLoad===999999">Totalsperrung</span>
                                      </td>
                                      <td>{{e.CapaToLv5}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>                
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-12">
            <p></p>
            <p><i class="fas fa-code"></i> <b>DB Netz AG</b> | Fahrplan und Kapazitätsmanagement | Region Mitte | I.NB-MI-F | 2021</p>
          </div>

    </div>

  </body>

  </html>